<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <ul class="nav nav-pills">
      <li class='col-2'>
        <div class="navbar-brand col-2">CovidControl</div>
      </li>
      <li class='col-1'>
        <div class="navbar-text"> Turn: {{ game.game_state.current_turn }} </div>
      </li>
      <li class='col-2'>
        <form class="container-fluid justify-content-start" method="POST" >
            {% csrf_token %}
            <input type="hidden" id="next_turn_button" name="action" value="next_turn">
            <button class="btn btn-outline-success me-2" type="submit" formaction="{% url 'game_view' %}"> Next Turn </button>
          </form>
      </li>
      <li class="nav-item active col-1">
        <a class="nav-link active" href="#player_view" data-toggle="pill"> Player View </a>
      </li>
      <li class="nav-item col-1">
        <a class="nav-link" href="#data_view" data-toggle="pill"> Data View </a>
      </li>
      <li class="nav-item col-1">
        {% if mode == "master" %}
          <a class="nav-link" href="#master_view" data-toggle="pill"> Master View </a>
        {% else %}
          <a class="nav-link" href="#"> Help </a>
        {% endif %}
      </li>
      <li class='col-2'> </li>
      <li class="nav-item col-2">
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Settings
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Game</a></li>
            <li><a class="dropdown-item" href="#">Simulation</a></li>
            <li><a class="dropdown-item" href="#">Player</a></li>
            <li><form class="container-fluid justify-content-start" method="POST" >
                {% csrf_token %}
                <input type="hidden" id="new_game_button" name="action" value="new_game">
                <button class="btn btn-outline-success me-2" type="submit" formaction="{% url 'game_view' %}"> New Game </button>
            </li> </form>
          </ul>
        </div>
      </li>
    </ul>
    </div>
  </div>
</nav>




