{% block player_view %}
<div class="tab-pane fade" id="player_view">
    <div class="row">
        <div class=col-sm-4">
            Game Master Feed
        </div>
        <div class="col-sm-8">
            Main Stats
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            Newsfeed
        </div>
        <div class="col-sm-4">
            Investments
        </div>
        <div class="col-sm-4">
            Actions
        </div>
    </div>
</div>
{% endblock %}