<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player View</title>
</head>
<body>

<div class="d-flex flex-wrap mt-2">
        <table class="table">
           <tr>
               <td> Player: {{ game.player.player_name }} </td>
               <td> Turn: {{ game.game_state.current_turn }} </td>
           </tr> <tr>
               <td> Game: {{ game.id }} </td>
               <td> etc.  </td>
           </tr> <tr>
               <td> <div class='btn btn-secondary my-2 py-2'> <a href="{% url 'player_view' %}?action=next_turn"> Next Turn </a> </div> </td>
           </tr>
        </table>
    </div>

</body>
</html>